
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(109, 143, 143);
    background-size: cover;
    background-position: center;
  }
  
  header {
    border-radius: 50cm;
    background-color: #000000;
    background-origin: padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
  }

  
  
  .left-column {
    width: 60%; 
    padding: 20px;
    float: left;
  }

  
  


  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #5c4d83;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .contact-info, .timings, .social-follow {
    flex: 1;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .facebook-icon, .instagram-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .facebook-icon {
    background-image: url('path-to-facebook-icon.png');
  }
  
  .instagram-icon {
    background-image: url('path-to-instagram-icon.png');
  }
  
  .app-links {
    display: flex;
    justify-content: flex-start;
  }
  
  .google-play, .app-store {
    width: 140px;
    height: 40px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .google-play {
    background-image: url('https://th.bing.com/th/id/OIF.BpsEPtJ5gzdxKA023wNFUg?w=265&h=87&c=7&r=0&o=5&pid=1.7');
  }
  
  .app-store {
    background-image: url('https://th.bing.com/th?id=OIF.iOogSSZglnIdnprNkU%2b2vQ&w=236&h=86&c=7&r=0&o=5&pid=1.7');
  }